:root {
  --background-color: #fff;
  --text-color: #000000;
  --text-white: rgba(255, 255, 255, 0.92);
  --side-menu-color: #f7f7f7;
  --z-index-9: 9;
  --border-color-light: rgba(0, 0, 0, 0.125);
}

body {
  color: var(--text-color);
}

.heading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-9);
  padding: 0rem 0.5rem;
  align-items: center;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
  background-color: var(--background-color);
}

.text--white {
  color: var(--text-white);
}

.badge__container {
  position: relative;
  top: 0;
}

.badge--overlay {
  top: 0.3rem;
  left: 2.6rem;
}

.width--4 {
  max-width: 3.2rem;
}

.mobile-menu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  padding-top: 0.3rem;
}

.heading__name {
  margin-left: 2.5rem;
}

.main-content {
  margin-top: 4rem;
}

.side-bar {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.side-bar.show {
  display: block;
  visibility: visible;
  opacity: 1;
  width: 60%;
  z-index: var(--z-index-3);
  background: var(--side-menu-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.side-menu {
  position: fixed;
  top: 5rem;
  width: 60%;
  height: 100%;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
}

.side-menu.view {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.li--border {
  border: none;
}

.active {
  padding: 0.5rem;
  width: 100%;
}

.active:hover,
.active:focus {
  color: #fd6603;
}

.showNav {
  display: none;
}

.hide-overflow {
  overflow-y: hidden;
}

@media screen and (min-width: 648px) {
  .heading {
    justify-content: space-between;
  }

  .width--4 {
    max-width: initial;
  }

  .mobile-menu {
    display: none;
  }

  .side-bar.show {
    visibility: hidden;
  }

  .showNav {
    display: block;
  }

  .flex--row {
    display: flex;
  }
}
