.product-container {
  display: flex;
  flex-direction: column;
  margin: 6rem 0rem;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 1rem;
}

.filter__heading {
  display: flex;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  background: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0 0 0 / 20%);
  border-radius: 50px;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border: 1px solid transparent;
}

.search__icon {
  position: absolute;
  z-index: 1;
  top: 0.7rem;
  left: 0.5rem;
}

.input__search {
  position: relative;
  top: 0;
  margin: 0.5rem 0;
}

.search-bar:focus {
  border: 1px solid var(--secondary-color);
}

.fieldset--style {
  border: none;
  display: flex;
  flex-flow: column wrap;
}

.product__filter {
  display: none;
}

.filter__panel--heading {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  display: -webkit-flex;
  display: flex;
  background-color: var(--light-color);
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  width: 98%;
}

.product__filter--wrapper {
  width: 100%;
}

.product__filter--mobile {
  background-color: var(--light-color);
  position: fixed;
  z-index: var(--z-index-3);
  top: 2rem;
  padding: 1rem 0.5rem;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

.button--outline {
  border: 1px solid var(--accent-color);
  background-color: var(--text-white);
}

.button--outline:focus {
  outline: var(--primary-color);
}

.filter__divider {
  background-color: #fed6bc;
  width: 100%;
  border: none;
  height: 1px;
  margin: 0.5rem 0;
}

.hide {
  display: none;
}

.button--outline-hidden {
  border: var(--transparent-color);
}

.price-range--align {
  display: flex;
  flex-direction: column;
}

.product__search {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__brand {
  padding: 0.4rem 0rem;
}

@media screen and (min-width: 648px) {
  .search-bar {
    padding: 1rem 3rem;
  }

  .search__icon {
    top: 1.2rem;
    left: 1rem;
  }

  .product-container {
    margin: 6rem 0.4rem;
  }

  .input__search {
    position: relative;
    top: 0;
    margin: 0.5rem 25%;
  }

  .product__filter--wrapper {
    display: flex;
    width: 99%;
    margin: 1rem;
  }

  .product__filter {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 30%;
    max-width: 13%;
    margin-right: 2rem;
  }

  .filter__section {
    position: sticky;
    top: 1rem;
    overflow-y: auto;
    height: calc(100vh - 4rem);
    padding-right: 0.5rem;
  }

  .filter__section::-webkit-scrollbar {
    width: 0.1rem;
  }

  .filter__section::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
  }

  input[type="radio"] {
    width: 1rem;
    height: 1rem;
  }

  .filter__panel--heading {
    display: none;
  }

  .button--outline {
    pointer-events: none;
  }

  .filter__divider {
    height: 1.5px;
  }
}
